
#site-footer { 
  background: rgba(15,20,25,.95); 
  text-align: center; 
  padding: 2rem; 
  margin-top: 3rem; 
  border-top: 1px solid rgba(255,255,255,.1); 
}

#site-footer p { 
  color: rgba(255,255,255,.8); 
}